<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">{{tituloDisciplina}}</h4>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="row">
                <div style="margin-top: 50px; min-height: 500px;" class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Chat da Turma</strong>
                        </div>
                        <div class="card-body" style="height: 600px;">
                            <cdk-virtual-scroll-viewport itemSize="5" style="height: 580px; width: 100%;">
                                <div *cdkVirtualFor="let mensagem of mensagensBox" style="padding-left: 5px; max-width: 1000px;">
                                    <div class="col-sm-12 col-g-12">
                                        <app-mensagem nomeUser="{{mensagem.enviado_por}}" texto="{{mensagem.texto}}">
                                        </app-mensagem>
                                    </div>
                                </div>
                            </cdk-virtual-scroll-viewport>
                            <!-- <div *ngIf="mensagensBox">
                                    <div *ngFor="let mensagem of mensagensBox">
                                        <app-mensagem nomeUser="{{mensagem.enviado_por}}" texto="{{mensagem.texto}}">
                                        </app-mensagem>
                                    </div>
                                </div> -->

                        </div>
                        <div class="card-footer px-3 py-2">
                            <strong>Enviar Mensagem</strong>
                            <div class="input-group" style="margin-top: 10px">
                                <input type="text" #textoMensagem pInputText id="input-enviar" name="input-enviar"
                                    class="form-control">
                                <span class="input-group-append">
                                    <button type="button" p-button
                                        (click)="addMensagem(textoMensagem.value); textoMensagem.value = ''"
                                        class="btn btn-secondary">Enviar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div style="margin-top: 50px;">
                <div class="card" style="width: 90%; margin-left: 5%;">
                    <div class="card-header">
                        <strong>Calendário da Disciplina</strong>
                    </div>
                    <div class="card-body">

                        <div class="col-sm-12">
                            <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
                        </div>

                    </div>
                    <div class="card-footer px-3 py-2">

                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!--/.card-->
</div>