<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card mx-2">
                        <div class="card-body">

                            <h1>Editar Grupo</h1>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="pi pi-pencil"></i></span>
                                </div>
                                <input type="text" #titulo="ngModel" [(ngModel)]="tituloText" class="form-control"
                                    placeholder="Titulo" autocomplete="name" required>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p-fieldset class="align-items-center" legend="Adicionar Integrantes">
                                        <div class="input-group g-6">
                                            <div style="margin-bottom: 10px;">
                                                <p-listbox [options]="alunos" name="integrantesAlunos"
                                                    [(ngModel)]="selectedAlunos" multiple="multiple" checkbox="checkbox"
                                                    filter="filter" optionLabel="nome"
                                                    [listStyle]="{'max-height':'250px'}">
                                                    <p-header>
                                                        <i class="pi pi-users"></i>
                                                        Participantes Alunos
                                                    </p-header>
                                                </p-listbox>
                                            </div>
                                            <p-listbox [options]="professores" name="integrantesProfessores"
                                                [(ngModel)]="selectedProfessores" multiple="multiple"
                                                checkbox="checkbox" filter="filter" optionLabel="nome"
                                                [listStyle]="{'max-height':'250px'}">
                                                <p-header>
                                                    <i class="pi pi-users"></i>
                                                    Participantes Professores
                                                </p-header>
                                            </p-listbox>
                                        </div>
                                    </p-fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <p-fieldset legend="Remover Integrantes">
                                        <div class="input-group g-6">
                                            <div style="margin-bottom: 10px;">
                                                <p-listbox [options]="alunosRemover" name="integrantesAlunos"
                                                    [(ngModel)]="selectedAlunosRemover" multiple="multiple"
                                                    checkbox="checkbox" filter="filter" optionLabel="nome"
                                                    [listStyle]="{'max-height':'250px'}">
                                                    <p-header>
                                                        <i class="pi pi-users"></i>
                                                        Participantes Alunos
                                                    </p-header>
                                                </p-listbox>
                                            </div>
                                            <p-listbox [options]="professoresRemover" name="integrantesProfessores"
                                                [(ngModel)]="selectedProfessoresRemover" multiple="multiple"
                                                checkbox="checkbox" filter="filter" optionLabel="nome"
                                                [listStyle]="{'max-height':'250px'}">
                                                <p-header>
                                                    <i class="pi pi-users"></i>
                                                    Participantes Professores
                                                </p-header>
                                            </p-listbox>
                                        </div>
                                    </p-fieldset>
                                </div>
                                <div style="margin-top: 10px;" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="pi pi-calendar"></i></span>
                                    </div>
                                    <input type="text" #urlCalendar class="form-control"
                                        placeholder="Url Calendário Moodle" required>
                                </div>
                            </div>
                            <button style="margin-top: 10px;" type="button" (click)="editarGrupo(titulo.value, urlCalendar.value)"
                                class="btn btn-block btn-success">Editar Grupo</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<p-toast position="bottom-right"></p-toast>