<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Minhas Matérias</h4>
          <div class="small text-muted">26 de Setembro</div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div style="height:90%;margin-top:40px;margin-left: 12%">
        <div class="row">
          <app-container-materia-card></app-container-materia-card>
        </div>
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <!--/.card-->
</div>