<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Minhas Matérias</h4>
          <div class="small text-muted">26 de Setembro</div>
        </div>
        <a class="nav-link" routerLink="/createGroup" routerLinkActive="active"><i class="icon-plus"></i><span class="badge badge-pill badge-danger">Criar um novo grupo</span></a>

        <!--/.col-->
      </div>
      <!--/.row-->
      <div style="height:90%;margin-top:40px;margin-left: 12%;min-height: 600px;">
        <div class="row">
          <app-container-materia-card></app-container-materia-card>
        </div>
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <!--/.card-->
</div>