<div class="card text-white bg-primary" style="width:280px;height: 320px;">
    <div class="card-body pb-0">
        <div *ngIf="donoGrupo">
            <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                    <i class="icon-settings"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                    <a class="dropdown-item" routerLink="/editGroup/{{idGrupo}}" routerLinkActive="active">Editar</a>
                    <a class="dropdown-item" (click)="confirmDeleteGroup()">Excluir Grupo</a>
                </div>
            </div>
        </div>
        <a class="nav-link" routerLink="/chat/{{idGrupo}}" routerLinkActive="active"
            style="color: white;text-decoration: none;">
            <div style="width: 100%;max-height: 100%;" class="text-value card-title">{{titulo}}</div>
        </a>
    </div>
    <div class="card-footer" style="height:200px">
    </div>

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>
</div>